*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  position: relative;
  /* min-height: 100%; */
}

.main-block{
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
  margin-top: 25px;
}
.head{
  text-align: center;
  font-size: 40px;
  padding: 15px;
}

.aside{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  margin: 50px;
  
}

.color{
  width:80px;
  height: 80px;
  border-radius: 50%;
  border: none;
  overflow: hidden;
  cursor: pointer;
  margin: 15px;
  transition: transform 0.5s;
}
.color::-webkit-color-swatch-wrapper {
  padding: 0;
}

button{
  width: 200px;
  height: 40px;
  margin: 15px;
  font-size: 20px;
  transition: transform 0.5s;
  border-radius: 15px;
  cursor: pointer;
  color: black;
}

button:active{
  background-color: darkgray;
  /* transform: scale(1); */
}

.range-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px;
}

.text-of-range{
  font-size: 20px;
}

.range{
  width: 200px;
  transition: transform 0.5s;
  cursor: pointer;
}

.grid-box{
  display: grid;
  grid-template-columns: repeat(16,1fr);
  grid-template-rows: repeat(16,1fr);
  width: 600px;
  height: 600px;
  border-style: solid;
  /* gap:1px; */
}

.cube {
  /* border: 1px solid rgb(244, 244, 244); */
}

.icon{
  margin-left: 2px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

button:hover,input:hover{
  transform: scale(1.1);
}




@media (max-width:600px) {
 .main-block{
  flex-direction: column;
  margin-top:0px;
 }

 .grid-box{
  width: 250px;
  height: 250px;
  margin-bottom: 10px;
 }

 .aside{
  margin: 0px;
 }
  
 button{
  margin: 5px;
  color: black;
 }
 .head{
  padding: 5px;
  font-size: 32px;
 }
}






